@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.Error404 {
  font-weight: 700;
  font-size: 288px;
  margin: 0;
  margin-top: 169px;
}

section {
  text-align: center;
  color: #FF6060;
}

.oups {
  font-size: 36px;
  margin-top: 50px;
}

section .homeLink {
  margin-top: 182px;
  margin-bottom: 159px;
  color: #FF6060;
  text-decoration: underline;
}