/* Remove underline from links */
a {
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
}

.nav-text {
  display: flex;
  gap: 57px;
  font-size: 24px;
}

.nav-text a {
  color: #ff6060;
  font-weight: 500;
}

.nav-logo {
  height: 62px;
  object-fit: cover;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {

  /* your CSS changes for mobile screens here */
  .nav-text {
    font-size: 12px;
    gap: 12px;
    text-transform: uppercase;
  }

  .nav-logo {
    height: 43px;
  }

  .page-header {
    align-items: center;
  }
}