@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.aboutImage {
  background-image: url('assets/a_propos.png');
  background-position: center top;
  background-size: 100% auto;
  height: 223px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(70%);
}

.aboutPage {
  margin-top: 63px;
}

@media only screen and (max-width: 767px) {
  .aboutImage {
    border-radius: 10px;
  }

  .aboutPage {
    margin-top: 17px;
  }
}