footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 209px;
  font-size: 24px;
  gap: 28.5px;
  margin-top: 50px;
  /* adjust to desired height */
}

img {
  width: 122px;
}

/* 
body {
  position: relative;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  max-width: 1240px;
  margin: auto;
  min-height: 100%;
}

main {
  margin-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
} */