@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set default padding to 0 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  padding: 0;
}

/* Set line-height to 1 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  line-height: 1;
}

/* Set font size and family */
body,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Remove border on all elements */
button,
input,
select,
textarea {
  border: none;
  outline: none;
  appearance: none;
}

/* Remove vertical padding from buttons */
button {
  vertical-align: middle;
}

/* Remove default table border */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default border radius */
*,
*::before,
*::after {
  border-radius: 0;
}

body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  max-width: 1440px;
  position: relative;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin-top: 40px;
}

.page-header {
  display: flex;
  justify-content: space-between;
}