footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 209px;
  font-size: 24px;
  gap: 28.5px;
  margin-top: 50px;
  /* adjust to desired height */
}

footer img {
  width: 122px;
}

@media (max-width: 767px) {
  footer {
    font-size: 12px;
  }
}