@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.homeImage {
  filter: brightness(70%);
  background-image: url('assets/home_image.png');
  background-position: center top;
  background-size: 100% auto;
  height: 223px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.homeImageContainer {
  position: relative;
}

.homeImageContainer::before {
  content: "Chez vous, partout et ailleurs";
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.HomePage {
  margin-top: 63px;
}

.location p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  word-break: break-all;
  width: 278px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}


.locationContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 50px;
  background-color: #F6F6F6;
  padding: 56px 50px;
  border-radius: 25px;
  margin-top: 43px;
}

.location {
  width: 340px;
  height: 340px;
  position: relative;
  background-color: #f76b6b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}